
        {{ define "content"}}

               {{ .Content }}
               {{ .Params.video }}


              {{ partial "intro.html" .}}

          		{{ if .Site.Params.work.enable }}
                 		{{ partial "work.html" .}}
             	{{ end }}

              {{ if .Site.Params.workb.enable }}
                    {{ partial "workb.html" .}}
              {{ end }}

          		{{ if .Site.Params.services.enable }}
                  	{{ partial "services.html" .}}
          		{{ end }}

          		{{ if .Site.Params.counters.enable }}
                  	{{ partial "counters.html" .}}
              {{ end }}

              {{ if .Site.Params.about.enable }}
                  	{{ partial "about.html" .}}
          		{{ end }}

              {{ if .Site.Params.testimonials.enable }}
                    {{ partial "testimonials.html" .}}
              {{ end }}

          		{{ if .Site.Params.contact.enable }}
                  	{{ partial "contact.html" .}}
                  {{ end }}

        {{ end }}
